
.create_char
  background random_color(1)
  padding 15px
  .c 
    clearfix()
    max-width 500px
    margin 0 auto
    form
      width (100/3)%
      float left
      border 1px solid black
  .n
    max-width 500px
    margin 0 auto
    input
      width 100%   
      padding 4px 8px
      font-size 1.2em
