.ui
  background rgba(0,0,0, .1)
  button
    width 100%
    
.wrapper
  width 70%
  float left
  @media(max-width $container_width)
    float none
    width 100%

.stats
  clearfix()
  background random_color(.4)
  .group
    width 50%
    float left
    background random_color(.4)

.inv
  width 20%
  float left  
  @media(max-width $sm_width)
    float none
    width 100%
  button
    display inline-block
    width (100%/2)
    float left
    
.actions
  width 80%
  float right
  @media(max-width $sm_width)
    float none
    width 100%

.log
  @media(max-width $container_width)
    float none
    width 100%
  width 30%
  float left
  background random_color(.4)
  min-height 100px
  li
    list-style none

@import 'item'
