
.ui
  background #f4e6c3
  button
    width 100%
    background #e4e1db
    border-radius 5px
    border 3px solid #b7ad99
    box-shadow 0 0 3px #fff inset
    transition all .1s ease
    padding 5px
    color #804000
    margin 5px 0
    &:hover
      background #c7c5c1
      box-shadow 0 0 3px #000 inset
      

@import 'room'
@import 'create_a_character'
@import 'game_over'
