
.item
  background url('sprite.png')
  background-repeat no-repeat
  height 32px
  width @height
  margin 0 auto
  display block
  &.health_potion
    background-position-x 0
  &.mana_potion
    background-position-x -32px
  
    
