.room_ui
  clearfix()
  padding 15px

.wrapper
  width 70%
  float left
  @media(max-width $container_width)
    float none
    width 100%

.stats
  clearfix()
  background random_color(.4)
  .group
    width 50%
    float left
    background random_color(.4)

.inv
  width 20%
  float left 
  padding 0 5px
  @media(max-width $sm_width)
    float none
    width 100%
  form
    padding 5px
    width (100%/2)
    float left
    button
      margin 0
    
.actions
  width 80%
  float right
  @media(max-width $sm_width)
    float none
    width 100%

.log
  @media(min-width $container_width+1)
    min-height 200px
  @media(max-width $container_width)
    float none
    width 100%
  width 30%
  float left
  padding 5px
  li
    list-style none
    border-bottom 1px dashed #666

