@import 'functions'
@import 'reset'
@import 'vars'

@import 'room'
@import 'ui'
@import 'sprite'

// for screen readers + lynx
.sr
  position absolute
  width 1px
  height 1px
  padding 0
  margin -1px
  overflow hidden
  clip rect(0,0,0,0)
  border 0


.game
  margin 0 auto
  border 5px solid #523b32
  border-radius 5px
  width $container_width
  @media(max-width: $container_width)
    width 100%
    
  &__view
    height $view_height
    background #292929
    overflow hidden
    position relative
    
.clearfix
  clear both
  
body
  color #804000
  padding-top 2em
  background #e6e1d7

h1, h3
  text-shadow 0px 1px 1px #6f6861
  margin 0
  padding-bottom 15px
  text-align center

button
  cursor pointer

.stats_info
  padding 5px
  display inline-block
  border none
  text-align left
  & .name
    text-align center
    font-size 1.2em
    padding 5px
    font-weight bold
  & .col
    display inline-block
    width 50%
