@import 'functions'
@import 'reset'
@import 'vars'

@import 'room'
@import 'ui'

// for screen readers + lynx
.sr
  position absolute
  width 1px
  height 1px
  padding 0
  margin -1px
  overflow hidden
  clip rect(0,0,0,0)
  border 0


.game
  margin 0 auto
  width $container_width
  @media(max-width: $container_width)
    width 100%
    
  &__view
    height $view_height
    background #eee
    color #fff
    overflow hidden
    
.clearfix
  clear both

h1
  padding 15px
  margin 0
  text-align center

.stats_info
  padding 5px
  display inline-block
  border none
  text-align left
  & .name
    text-align center
    font-size 1.2em
    padding 5px
    font-weight bold
  & .col
    display inline-block
    width 50%
