
$border_width = 50px

.room
  height 100%
  padding $border_width 0
  & .spacer
    border 1px solid #f0f
    width (100/3)%
    height 100%
    float left
  & .door
    border 1px solid #fea
    width 60%
    height 100%
    margin 0 auto  
  & .wall
    font-size 20px
    display inline-block
    height 100%
    float left
    &.front
      background #321123
      width 100%
      @media(min-width: $container_width)
        width 700px
    &.left, &.right
      display none
      position relative
      background #ef4f4f
      @media(min-width: $container_width)
        width 100px
        display inline-block
    &.left
      &:before
        content ''
        display block
        border $border_width solid transparent
        border-left 100px solid #ef4f4f
        border-top none
        position absolute
        top 100%
      &:after
        content ''
        display block
        border $border_width solid transparent
        border-left 100px solid #ef4f4f
        border-bottom none
        position absolute
        bottom 100%
    &.right
      &:before
        content ''
        display block
        border $border_width solid transparent
        border-right 100px solid #ef4f4f
        border-left 0
        border-top none
        position absolute
        top 100%
      &:after
        content ''
        display block
        border $border_width solid transparent
        border-right 100px solid #ef4f4f
        border-left 0
        border-bottom none
        position absolute
        bottom 100%

.room
  position relative
  & .monster
    &_wrapper
      position absolute
      left 0
      right 0
      top 0
      bottom 0
      background rgba(222,231,111,.3)
    border 1px solid #f00
    background rgba(222,231,111,.71)
    height 100%
    width 100px
    margin 0 auto
    background url("http://orig08.deviantart.net/4c8a/f/2012/212/d/2/pokemon___ratata_by_lamepie-d599ug6.png")
      
