<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dungeon Wanderer</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="i.css">
</head>
<body>
    <div class="g">
        <div id="view_layer" class="g_v">
            {{$ view_layer}}
        </div>
        <div id="ui_layer" class="ui">
            {{$ ui_layer}}
        </div>
    </div>
    <script src="c.js"></script>
</body>
</html>
