

$side_wall_width = 150px
$side_wall_perspective_thing_height = 40px
$wall_height = ($view_height - (2 * $side_wall_perspective_thing_height))

$side_wall_color = #ab956a

$door_width = 80px
$door_height = 200px

.floor, .ceiling
  height 50%
  width 100%
.floor
  background #695a3e
.ceiling
  background #775931
  

.room
  height 100%
  width 100%
  position absolute
  top 0
  clearfix()
  .spacer
    width (100 / 3)%
    float left
    height 100%
    position relative
  .door
    /*
      doors should be centered on x axis
      but aligned to bottom on y axis
    */
    position absolute
    bottom 0
    left 50%
    margin-left - ($door_width / 2)
    width $door_width
    height $door_height
    background #725226
    border 6px solid #382a17
    border-bottom 0
    box-shadow 0px 1px 1px 1px #000 inset
    &.wooden
      //
    &.golden
      //
    &.old
      //

  .wall
    height $wall_height
    margin $side_wall_perspective_thing_height 0
    float left
    &.left, &.right
      display none
      @media(min-width $container_width)
        display block
      
      background $side_wall_color
      width $side_wall_width
      position relative
    &.left:before
      content ''
      display block
      width 1px
      height 1px
      position absolute
      bottom 100%
      
      border-bottom $side_wall_perspective_thing_height solid $side_wall_color
      border-right $side_wall_width solid transparent
      
    &.left:after
      content ''
      display block
      width 1px
      height 1px
      position absolute
      top 100%
      
      border-top $side_wall_perspective_thing_height solid $side_wall_color
      border-right $side_wall_width solid transparent
      
    &.right:before
      content ''
      display block
      width 1px
      height 1px
      position absolute
      bottom 100%
      
      border-bottom $side_wall_perspective_thing_height solid $side_wall_color
      border-left $side_wall_width solid transparent
      
    &.right:after
      content ''
      display block
      width 1px
      height 1px
      position absolute
      top 100%
      
      border-top $side_wall_perspective_thing_height solid $side_wall_color
      border-left $side_wall_width solid transparent

    &.front
      clearfix()
      background #e8d7b5
      width 100%
      @media(min-width $container_width)
        width $container_width - ($side_wall_width * 2)
      
      
