

$side_wall_width = 150px
$side_wall_perspective_thing_height = 40px
$wall_height = ($view_height - (2 * $side_wall_perspective_thing_height))

$door_width = 80px
$door_height = 200px

it_has_side_walls(bg)
  // .wall.left, .wall.right
  .w.l, .w.r
    background bg
  // .wall.left:before
  .w.l:before
    content ''
    display block
    width 1px
    height 1px
    position absolute
    bottom 100%
    
    border-bottom $side_wall_perspective_thing_height solid bg
    border-right $side_wall_width solid transparent
    
  // .wall.left:after
  .w.l:after
    content ''
    display block
    width 1px
    height 1px
    position absolute
    top 100%
    
    border-top $side_wall_perspective_thing_height solid bg
    border-right $side_wall_width solid transparent
    
  // .wall.right:before
  .w.r:before
    content ''
    display block
    width 1px
    height 1px
    position absolute
    bottom 100%
    
    border-bottom $side_wall_perspective_thing_height solid bg
    border-left $side_wall_width solid transparent
    
  // .wall.right:after
  .w.r:after
    content ''
    display block
    width 1px
    height 1px
    position absolute
    top 100%
    
    border-top $side_wall_perspective_thing_height solid bg
    border-left $side_wall_width solid transparent
  

// .room
.r
  height 100%
  width 100%
  position absolute
  top 0
  clearfix()
  
  &.festive
    // .floor
    .f
      background #c08f67
    // .ceiling
    .c
      background #eee
    // .wall.front
    .w.f
      background #ded1cb
    it_has_side_walls(#bbafaa)
  
  &.ugly
    // .floor
    .f
      background #666
    // .ceiling
    .c
      background #aaa
    // .wall.front
    .w.f
      background #777
    it_has_side_walls(#555)
  
  &.dark
    // .floor
    .f
      background #695a3e
    // .ceiling
    .c
      background #775931
    // .wall.front
    .w.f
      background #e8d7b5
    it_has_side_walls(#ab956a)
    
  // .floor, .ceiling
  .f, .c
    height 50%
    width 100%
  // .spacer
  .s
    width (100 / 3)%
    float left
    height 100%
    position relative
  // .door
  .d
    /*
      doors should be centered on x axis
      but aligned to bottom on y axis
    */
    position absolute
    bottom 0
    left 50%
    margin-left - ($door_width / 2)
    width $door_width
    height $door_height
    border 6px solid #000
    border-bottom 0
    box-shadow 0px 1px 1px 1px #000 inset
    &.wooden
      background #725226
      border-color #382a17
    &.golden
      background #ffd700
      border-color #c1af1f
      box-shadow 0px 1px 1px 1px #fff inset
    &.old
      background #617359
      border-color #544545
      box-shadow 0 4px 7px 0 #153309 inset


  // .wall
  .w
    height $wall_height
    margin $side_wall_perspective_thing_height 0
    float left
    // &.left, &.right
    &.l, &.r
      display none
      @media(min-width $container_width)
        display block
      width $side_wall_width
      position relative

    // &.front
    &.f
      clearfix()
      background #e8d7b5
      width 100%
      @media(min-width $container_width)
        width $container_width - ($side_wall_width * 2)
      
      
