

$side_wall_width = 150px
$side_wall_perspective_thing_height = 40px
$wall_height = ($view_height - (2 * $side_wall_perspective_thing_height))

$door_width = 80px
$door_height = 200px

it_has_side_walls(bg)
  .wall.left, .wall.right
    background bg
  .wall.left:before
    content ''
    display block
    width 1px
    height 1px
    position absolute
    bottom 100%
    
    border-bottom $side_wall_perspective_thing_height solid bg
    border-right $side_wall_width solid transparent
    
  .wall.left:after
    content ''
    display block
    width 1px
    height 1px
    position absolute
    top 100%
    
    border-top $side_wall_perspective_thing_height solid bg
    border-right $side_wall_width solid transparent
    
  .wall.right:before
    content ''
    display block
    width 1px
    height 1px
    position absolute
    bottom 100%
    
    border-bottom $side_wall_perspective_thing_height solid bg
    border-left $side_wall_width solid transparent
    
  .wall.right:after
    content ''
    display block
    width 1px
    height 1px
    position absolute
    top 100%
    
    border-top $side_wall_perspective_thing_height solid bg
    border-left $side_wall_width solid transparent
  

.room
  height 100%
  width 100%
  position absolute
  top 0
  clearfix()
  
  &.festive
    .floor
      background #c08f67
    .ceiling
      background #eee
    .wall.front
      background #ded1cb
    it_has_side_walls(#bbafaa)
  
  &.ugly
    .floor
      background #666
    .ceiling
      background #aaa
    .wall.front
      background #777
    it_has_side_walls(#555)
  
  &.dark
    .floor
      background #695a3e
    .ceiling
      background #775931
    .wall.front
      background #e8d7b5
    it_has_side_walls(#ab956a)
    
  .floor, .ceiling
    height 50%
    width 100%
  .spacer
    width (100 / 3)%
    float left
    height 100%
    position relative
  .door
    /*
      doors should be centered on x axis
      but aligned to bottom on y axis
    */
    position absolute
    bottom 0
    left 50%
    margin-left - ($door_width / 2)
    width $door_width
    height $door_height
    border 6px solid #000
    border-bottom 0
    box-shadow 0px 1px 1px 1px #000 inset
    &.wooden
      background #725226
      border-color #382a17
    &.golden
      background #ffd700
      border-color #c1af1f
      box-shadow 0px 1px 1px 1px #fff inset
    &.old
      background #617359
      border-color #544545
      box-shadow 0 4px 7px 0 #153309 inset


  .wall
    height $wall_height
    margin $side_wall_perspective_thing_height 0
    float left
    &.left, &.right
      display none
      @media(min-width $container_width)
        display block
      width $side_wall_width
      position relative

    &.front
      clearfix()
      background #e8d7b5
      width 100%
      @media(min-width $container_width)
        width $container_width - ($side_wall_width * 2)
      
      
