<div class="stats_info">
    <div class="name">{{character.name}}</div>
    <div class="rows">
        <div class="col">Health:</div><div class="col">
            {{character.hp.current}} / {{character.hp.max}}
        </div>
        <div class="col">Mana:</div><div class="col">
            {{character.mp.current}} / {{character.mp.max}}
        </div>
    </div>
    inventory:
    <form method="post">
    <ul>
    {{@character.items}}
        <li>
            <button name="use_item" value="{{type}}">{{type}}</button>
        </li>
    {{@}}
    </form>
    </ul>
</div>

{{#monster}}
QUE
{{/}}

{{#controls.doors}}
<form method="post">
    {{@controls.doors}}
        <button name="door" value="{{value}}">{{door.type}}</button>
    {{@}}
</form>
{{/}}

{{#controls.monster}}
<form method="post">
    {{@character.skills}}
        <button name="use_skill" value="{{type}}">{{type}}</button>
    {{@}}
</form>
{{/}}

{{#controls.item}}
<form method="post">
    <button name="action" value="pick_up">Pick up {{controls.item.type}}</button>
</form>
{{/}}
