<div class="wrapper">
    <div class="stats">
        <div class="group">
            <div class="name">{{character.name}}</div>
            <div class="stat">Health: {{character.hp.current}} / {{character.hp.max}}</div>
            <div class="stat">Mana: {{character.mp.current}} / {{character.mp.max}}</div>
        </div>
        {{#monster}}
        <div class="group">
            <div class="name">{{monster.name}}</div>
            <div class="stat">Health: {{monster.hp.current}} / {{monster.hp.max}}</div>
            <div class="stat">Mana: {{monster.mp.current}} / {{monster.mp.max}}</div>
        </div>
        {{/}}
    </div>
    <div class="clearfix"></div>
    <div class="actions">
        <div class="sr">Actions</div>
        <form method="post">
        {{#controls.monster}}
            {{@character.skills}}
                <button name="use_skill" value="{{type}}">{{type}}</button>
            {{@}}
        {{/}}
        {{#controls.doors}}
            {{@controls.doors}}
                <button name="door" value="{{value}}">Open {{door.type}} door</button>
            {{@}}
        {{/}}
        {{#controls.item}}
            <button name="action" value="pick_up">Pick up {{controls.item.type}}</button>
        {{/}}
        </form>
    </div>

    <div class="inv">
        <div class="sr">Inventory: </div>
        <form method="post">
            {{@character.items}}
            <button name="use_item" value="{{type}}">
                <span class="item {{cssClass}}"></span><span class="sr">{{name}}</span>
            </button>
            {{@}}
        </form>
    </div>
    <div class="clearfix"></div>
</div>
<div class="log">
    <h3>Battle Log</h3>
    <ul>
    {{@log}}
        <li>{{text}}</li>
    {{@}}
    </ul>
</div>
<div class="clearfix"></div>
