<div class="stats_info">
    <div class="name">{{character.name}}</div>
    <div class="rows">
        <div class="col">Health:</div><div class="col">
            {{character.entity.hp.current}} / {{character.entity.hp.max}}
        </div>
        <div class="col">Mana:</div><div class="col">
            {{character.entity.mp.current}} / {{character.entity.mp.max}}
        </div>
    </div>
    inventory:
    <ul>
    {{@character.entity.items}}
    <li>{{type}}</li>
    {{@}}
    </ul>
</div>

{{#controls.doors}}
<form method="post">
    {{@controls.doors}}
        <button name="door" value="{{value}}">{{door.type}}</button>
    {{@}}
</form>
{{/}}

{{#controls.monster}}
<form method="post">
    {{@character.entity.skills}}
        <button name="use_skill" value="{{type}}">{{type}}</button>
    {{@}}
</form>
{{/}}

{{#controls.item}}
<form method="post">
    <button name="action" value="pick_up">Pick up {{controls.item.type}}</button>
</form>
{{/}}
