
<div class="sr">
    You are in a <strong>{{stage_data.type}}</strong> room.
</div>

<div class="ceiling"></div>
<div class="floor"></div>

<div class="room">
    <div class="wall left"></div>
    <div class="wall front">
        {{@ stage_data.doors}}
            <div class="spacer">
                {{# type}}
                <div class="door {{type}}">
                    <span class="sr">You see a <strong>{{type}}</strong> door.</span>
                </div>
                {{/}}
            </div>
        {{@}}
    </div>
    <div class="wall right"></div>
</div>

{{# controls.monster}}
<div class="overlay_wrapper">
    <div class="overlay">
        <div class="overlay_inner {{monster.anim}}">
            <div class="sprite {{monster.cssClass}}"></div>
            <span class="sr">A </span><strong>{{monster.name}}</strong><span class="sr"> is blocking your way</span>
        </div>
    </div>
</div>
{{/}}

{{# controls.item}}
<div class="overlay_wrapper">
    <div class="overlay">
        <div class="overlay_inner show">
            <div class="sprite {{controls.item.cssClass}}"></div>
            <span class="sr">You found a </span><strong>{{controls.item.type}}</strong><span class="sr"></span>
        </div>
    </div>
</div>
{{/}}
