
<div class="sr">
    You are in a <strong>{{stage_data.type}}</strong> room.
</div>


<div class="r {{stage_data.type}}">
    <div class="c"></div>
    <div class="f"></div>
    <div class="r i">
        <div class="w l"></div>
        <div class="w f">
            {{@ stage_data.doors}}
                <div class="s">
                    {{# type}}
                    <div class="d {{type}}">
                        <span class="sr">You see a <strong>{{type}}</strong> door.</span>
                    </div>
                    {{/}}
                </div>
            {{@}}
        </div>
        <div class="w r"></div>
    </div>
</div>

{{# controls.monster}}
<div class="o_w">
    <div class="o">
        <div class="o_i {{monster.anim}}">
            <div class="sprite {{monster.cssClass}}"></div>
            <span class="sr">A </span><strong>{{monster.name}}</strong><span class="sr"> is blocking your way</span>
        </div>
    </div>
</div>
{{/}}

{{# controls.item}}
<div class="o_w">
    <div class="o">
        <div class="o_i show">
            <div class="sprite {{controls.item.cssClass}}"></div>
            <span class="sr">You found a </span><strong>{{controls.item.type}}</strong><span class="sr"></span>
        </div>
    </div>
</div>
{{/}}
