
<div class="sr">
    You are in *room type* room. <br>
    You see a *door type* door<br>
    You see a *door type* door<br>
    You see a *door type* door<br>
    A *monster name* is blocking your way <br>
</div>

<div class="room">
    <div class="wall left"></div>
    <div class="wall front">
        <div class="spacer">
            <div class="door wooden"></div>
        </div>
        <div class="spacer">
            <div class="door golden"></div>
        </div>
        <div class="spacer">
            <div class="door old"></div>
        </div>
    </div>
    <div class="wall right"></div>
</div>

<div class="overlay">
    <div class="thing"></div>
</div>
