<div class="create_char">
    {{#! data.name}}
    <h1>Name your character</h1>
    <form method="post" class="n">
        <input type="text" name="name" placeholder="Pick a name">
        <button>Save</button>
    </form>
    {{/}}

    {{# data.name}}
        <h1>Choose a class</h1>
        <div class="c">
            {{@ class_templates}}
            <form method="post">
                <button name="type" value="{{type}}" class="s_i">
                    <div class="n">{{type}}</div>
                    <div class="rows">
                        <div class="c">Health:</div><div class="c">{{hp.max}}</div>
                        <div class="c">Mana:</div><div class="c">{{mp.max}}</div>
                    </div>
                </button>
            </form>
            {{@}}
        </div>
    {{/}}
</div>
